@import 'variables';
@import 'game';
@import 'screens';

*{
    font-family: $fonts;

    main{
        display:flex; 
    
        width: 100vw;
        min-height: 100vh;
        background-color: $bg-black;
    
        justify-content: center;
        align-items: center;
    }
}

